<section id="allspot">

<div class="spot_research">
   <%= form_tag({controller:"spots",action:"index"}, method: :get) do %>
     <%= text_field_tag :search %>
     <%= submit_tag '検索する'  %>
  <% end %>
</div>


<div class="flexbox">
  <% @spots.each do |t| %>
    <div class="spot">
      <a href="/spots/<%= t.id %>"><%= image_tag t.image_url %></a>
      <p><a href="/users/<%= t.user.id %>"><%= image_tag t.user.image_url %></a></p>
    
      <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>          
      <div id="likes_buttons_<%= t.id %>">
         <%= render partial: 'likes/likes', locals: { spot: t} %>
      </div>
    
      
    </div>
   <% end %>
</div>
</section>
