<h3>All Psot</h3>


<h3>投稿を検索</h3>
 <%= form_tag({controller:"spots",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>


<div class="spots-container">
  

  <% @spots.each do |t| %>
    <div class="spot">
      
      <%= t.user.name %>
      <%= image_tag t.image_url, size: "250x200" if t.image? %>

      <%= t.body %>
      <%= t.created_at %>

      <% if user_signed_in? %>
       <% if current_user.already_liked?(t) %>
          <%= link_to spot_likes_path(id: t.id, spot_id: t.id), method: :delete do %>
              
            <i class="fas fa-heart"></i><%= t.likes.count %>

          <% end %>
       <% else %>
          <%= link_to spot_likes_path(id: t.id, spot_id: t.id), method: :post do %>
             
            <i class="far fa-heart"></i><%= t.likes.count %>
            
          <% end %>
       <% end %>
      <% else %>
      　<i class="far fa-heart"></i><%= t.likes.count %>
      <% end %>
      
      
      <%= link_to "Edit", edit_spot_path(t.id) %>
      <%= link_to "About", spot_path(t.id) %>
      <%= link_to "Delate", spot_path(t.id), method: :delete %>

    </div>
  <% end %>
</div>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
