<h2>マイページ</h2>


<%= @user.name %>

<%= image_tag @user.image_url, size: "250x200" if @user.image? %>

<%= @user.profile %>

<% if current_user.id == @user.id %>
  <%= link_to "設定", edit_user_registration_path %>
<% end %>

<% @user.spots.each do |t| %>
  <%= t.user.name %>
  <%= t.image %>
  <%= t.about %>
<% end %>






<%= link_to "ALL POST", spots_path %>

