<!DOCTYPE html>
<html>
  <head>
    <title>Suttabi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
  </head>

  <body>
    <header>
     <h1>suttabi</h1>
     <div class="header-list">
       <ul>
         <li><%= link_to "Home", spots_path %></li>
         <li><%= link_to "NewPost", new_spot_path %></li>
         <% if user_signed_in? %>
          <%= link_to "MY PAGE", user_path(current_user.id) %>　
         <% end %>
       </ul>
     </div>
   </header>
   
   <main>
     <%= yield %>
   </main>
  </body>
</html>
